<!DOCTYPE html>
<html>
  <head>
    <!-- charset lets browser know how to render characters -->
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Portfolio page here</p>

    {{> footer}}

  </body>
</html>
